@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
.container {
  width: 100%;

  padding:0 2rem 0 2rem;
  font-family: 'Inter', sans-serif;
}

.title {
  font-weight:700;
  font-size: 1.4rem;
  letter-spacing: .5px;
}

.title-container{
  padding-top:1rem;
}
.total-followers {
  margin-top: -0.9rem;
  font-size: .9rem;
  font-weight: 400;
  letter-spacing: .5px;
}

hr {
  width: 20rem;
  background-color: hsl(228, 34%, 66%);
}
.dark-container {
  display: flex;
 
  justify-content: space-between;
}
.dark-title {
  padding-top: .6rem;
  font-weight: 700;
}

.toggle-para {
  padding: 0;
   background: linear-gradient( hsl(210, 78%, 56%), hsl(146, 68%, 55%) ); 
  height: 1.2rem;
  width: 2.4rem;
  padding: 3px;
  position: relative;
  border-radius: 25px ;
}
.toggle-circle:focus {
}

.big-card-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}